      * {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-updates {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 20px 5px 20px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#custom-updates:hover {
  border-radius: 20px 5px 20px 5px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#workspaces {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 20px 5px 20px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background: #090a08;
}

#workspaces button {
  padding: 0 5px;
  color: inherit;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: #ffffff;
  text-shadow: 0 0 5px #1adff4;
}

#workspaces button:hover {
  color: #090a08;
  background: rgba(255, 255, 255, 0.2);
}

#workspaces:hover {
  border-radius: 20px 5px 20px 5px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#custom-spotify {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 20px 5px 20px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease-in-out, color 0.3s ease, border-radius 0.3s ease-in-out, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#custom-spotify:hover {
  border-radius: 20px 5px 20px 5px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px 5px 20px 20px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#clock:hover {
  border-radius: 20px 20px 5px 5px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#custom-cava {
  margin-left: 8px;
}

#network {
  margin-right: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 20px 5px 20px 5px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#network:hover {
  border-radius: 5px 20px 5px 20px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#pulseaudio {
  margin-right: 8px;
  border-radius: 20px 5px 20px 5px;
  padding-left: 0px;
  padding-right: 0px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#pulseaudio:hover {
  border-radius: 5px 20px 5px 20px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#backlight {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px 5px 20px 5px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#backlight:hover {
  border-radius: 5px 20px 5px 20px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#battery {
  margin-right: 8px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 20px 5px 20px 5px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#battery:hover {
  border-radius: 5px 20px 5px 20px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#battery.charging {
  color: #ffffff;
  padding-right: 9px;
  padding-left: 9px;
  background-color: #0f1c17;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
}

#battery.warning:not(.charging) {
  background-color: #0f1c17;
  color: #ff0000;
  border-color: #ff0000;
}

#battery.critical:not(.charging) {
  background-color: #0f1c17;
  color: #ffffff;
  border-color: #ad2626;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tooltip {
  background-color: #181818;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  border-radius: 20px 10px 10px 5px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  transition: background 0.3s ease, color 0.3s ease, border-radius 0.3s ease, border-bottom 0.3s ease;
  color: #ffffff;
  background: #090a08;
}

#tray:hover {
  border-radius: 5px 20px 5px 20px;
  color: #090a08;
  border-bottom: 4px solid #034f1c;
  background: linear-gradient(
    to bottom,
    #090a08 0%,
    #222222 1%,
    #555555 4%,
    #999999 50%,
    #555555 96%,
    #222222 99%,
    #090a08 100%
  );
}

#custom-recorder {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px 20px 20px 20px;
  border: solid 2px;
  border-color: #484a4a;
  border-bottom: 4px solid #84051c;
  color: #ffffff;
  background: #090a08;
}

#custom-recorder.recording {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #eb4034;
    color: #484a4a;
  }
}


